*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html { 
    background-color: #efeded;
    font-family: 'DM Sans', sans-serif;
    font-size: 10px;
}
.page-wrapper {
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 320px) {
    .page-wrapper {
        padding: 10px 10px;
    }
}

@media (min-width: 768px) {
    .page-wrapper {
        padding: 10px 25px;
    }
}

@media (min-width: 1200px) {
    .page-wrapper {
        padding: 10px 50px;
    }
}