html { 
    background-color: #efeded;
    font-family: 'DM Sans', sans-serif;
}
.page-wrapper {
    padding: 10px 50px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 0;
    border-bottom-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, orange, rgb(255, 89, 0)) 1;
}
li, a {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}
.nav-links {
    list-style-type: none;
}
.nav-links li {
    display: inline-block; 
}
.nav-links li a { 
    display: inline-block; 
    background-color: darkgrey; 
    border-radius: 10px; 
    padding: 14px 16px;
    margin: 2em; 
    transition: all 0.3s ease 0s;
    text-align: center;
}
.nav-links li a.active {
    background-color: orange;
}
.nav-links li a:hover { 
    transition: all 0.3s ease 0s;
    text-align: center;
    background-color: orange;
}
.logo {
    display: inline-block;
    margin-right: auto;
}
p#intro {
    font-size: clamp(1.5em, 3.5vw, 4em);
}
h1 {
    font-size: clamp(1.5em, 3.5vw, 4em);
}
main {
    width: 80%; 
    margin: auto;
}
.skills li {
    display: inline-block;
    background-color: rgb(255, 197, 90);
    border-radius: 10px;
    padding: 14px 16px;
    margin: 0.5em;
}
a.contact {
    display: inline-block;
    border-radius: 10px;
    padding: 14px 16px;
    margin: 0.5em;
}
a.contact .active {
    background-color: orange;
}
a.contact :hover { 
    transition: all 0.3s ease 0s;
    text-align: center;
    background-color: orange;
}
p {
    width: 80%;
    font-size: 20px;
    line-height: 1.5;
}
p#quote {
    font-style: italic;
    font-weight: 400;
}
embed {
    padding: 20px 0 20px 0; 
}
#background {
    display: flex;
    justify-content: space-between; 
    align-items: stretch;
}