/* containers */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html { 
    background-color: #efeded;
    font-family: 'DM Sans', sans-serif;
    font-size: 10px;
}
.page-wrapper {
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 320px) {
    .page-wrapper {
        padding: 10px 25px;
    }
    .logo {
        width: 100px;
        height: 100px;
    }
    main {
        width: 100%;
        margin-left: 0.5em;
    }
    .nav-links a {
        padding: 1rem 1rem;
        margin: 0.3em;
    }
    p#intro {
        font-size: 3rem;
        padding: 3rem;
    }
    h1 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        font-size: 3rem;
    }
    embed {
        width: 100%; 
    }
}
@media (min-width: 768px) {
    .page-wrapper {
        padding: 10px 50px;
    }
    .logo {
        width: 120px;
        height: 120px;
    }
    main {
        width: 100%;
    }
    .nav-links a {
        padding: 1rem 1rem;
        margin: 0.5em;
    }
    p#intro {
        font-size: 3rem;
        padding: 3rem;
    }
    h1 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        font-size: 3rem;
    }
    embed {
        width: 100%; 
    }
}
@media (min-width: 1200px) {
    .page-wrapper {
        padding: 10px 75px;
    }
    .logo {
        width: 180px;
        height: 180px;
    }
    main {
        width: 80%;
    }
    .nav-links a {
        padding: 14px 16px;
        margin: 0.8em;
    }
    p#intro {
        font-size: 4rem;
        padding: 4rem;
    }
    h1 {
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: 4rem;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 0;
    border-bottom-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, orange, rgb(255, 89, 0)) 1;
}
.navbar {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

/* links and lists */ 
a {
    color: #fff;
    font-size: 2.1rem;
    text-decoration: none;
}
li {
    font-size: 1.6rem; 
    color: #fff;
}
.nav-links a {
    display: inline-block;
    text-align: center;
    border-radius: 10px; 
    transition: all 0.3s ease 0s;
    background-color: darkgrey; 
}
.nav-links {
    list-style-type: none;
}
.nav-links li {
    display: inline-block; 
}
.nav-links a.active {
    background-color: orange;
}
.nav-links a:hover { 
    transition: all 0.3s ease 0s;
    text-align: center;
    background-color: orange;
}
.contact-info a {
    display: inline-block;
    border-radius: 10px;
    padding: 14px 16px;
    margin: 0.5em;
    background-color: darkgrey; 
}
.contact-info a.active {
    background-color: orange;
}
.contact-info a:hover { 
    transition: all 0.3s ease 0s;
    text-align: center;
    background-color: orange;
}
.skills {
    list-style-type: none;
}
.skills li {
    background-color: rgb(255, 197, 90);
    border-radius: 10px;
    padding: 14px 16px;
    margin: 0.5em;
}
p {
    font-size: 2rem;
    line-height: 1.5em;
}
p#quote {
    font-style: italic;
    font-weight: lighter;
}
embed {
    padding: 20px 0 20px 0; 
    height: 700px;
}
.background {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 4em;
    grid-template-areas: 
        "header header"
        "content sidebar"
        "header header";
}
section#quote {
    grid-column-start: 1;
    grid-column-end: 3;
}
section#education {
    grid-column-start: 1;
    grid-column-end: 3;
}
h2 {
    font-size: 2.4rem;
}